/* Colors */
$c-white: #fff;
$c-black: #000;
$c-primary: #0e1010;

/* Fonts */
$font-family-raleway: "Raleway", sans-serif;
$font-family-titilium: "Titillium Web", sans-serif;

/* Breakpoints */
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);
